.bottom-compact-toggle {
    margin: 1.2rem 0 0.6rem;
}

.bottom-compact-toggle .compact-toggle-wrapper {
    margin-left: 0;
    margin-right: 0;
}

.search-filter-row .select-elements {
    width: auto;
    min-width: 90px;
}








