<!-- <div class="panel panel-default" [ngClass]="{'animated pulse':mouseOvered}" (mouseout)="mouseOvered=false" (mouseover)="mouseOvered=true" data-bs-hover-animate="pulse"> -->
<!-- thw following line allows to have tooltips on button in footer !! -->
<div style="position:relative;" (click)="openImageModal(getEventThumbnail(), evenement.evenementName)">
    <img class="card-img img-fluid img-thumbnail mx-auto d-block clickable-image" 
         [src]="thumbnailUrl" 
         alt="Card image" />
    <div class="card-img-overlay">
        <h4 class="card-title text-center pat-card"><b>{{evenement.evenementName}}</b></h4>
        <!-- <br><small><i>{{ "EVENTELEM.REF" | translate }} : {{evenement.id}}</i></small></p> -->
    </div>
</div>
<div class="card-block pat-card-block">
    <div class="text-center">
        <span class="badge rounded-pill bg-danger" (click)="addRateMinus()" placement="left"
            ngbTooltip="{{ 'COMMUN.IDONTLIKE' | translate }}"> {{evenement.ratingMinus || 0}}</span>
        <ngb-rating [(rate)]="currentRate">
        </ngb-rating>
        <span class="badge rounded-pill bg-success" (click)="addRatePlus()" placement="right"
            ngbTooltip="{{ 'COMMUN.ILIKE' | translate }}">{{evenement.ratingPlus || 0}}</span>
    </div>
    <div class="alert alert-warning small pat-alert">
        <!-- <b>  {{"EVENTELEM.DESC" | translate }} :</b> -->{{evenement.comments}}
    </div>
    <div class="card-text text-center" [ngSwitch]="evenement.status">
        <!--{{"EVENTELEM.STATUS" | translate }} :-->
        <b>
            <div *ngSwitchCase="'Closed'" class="d-inline bg-danger pl-2 pr-2">{{"COMMUN.STATUSCLOSE" | translate }}
            </div>
            <div *ngSwitchCase="'Open'" class="d-inline bg-success pl-2 pr-2"> {{"COMMUN.STATUSOPEN" | translate }}
            </div>
            <div *ngSwitchCase="'Cancel'" class="d-inline bg-warning pl-2 pr-2"> {{"COMMUN.STATUSCANCEL" | translate }}
            </div>
        </b>
    </div>
    <small class="mb-1"><i>{{"EVENTELEM.AUTHOR" | translate }} : {{ evenement.author.firstName }} {{
            evenement.author.lastName }} / {{ evenement.author.userName }} &nbsp;&nbsp; ({{evenement.visibility}})</i></small>
    <div class="card-text" [ngSwitch]="+evenement.type">
        {{"EVENTELEM.TYPE" | translate }} :
        <span *ngSwitchCase="1">{{"EVENTCREATION.TYPE.VTT" | translate }}</span>
        <span *ngSwitchCase="2">{{"EVENTCREATION.TYPE.SKI" | translate }}</span>
        <span *ngSwitchCase="3">{{"EVENTCREATION.TYPE.RUN" | translate }}</span>
        <span *ngSwitchCase="4">{{"EVENTCREATION.TYPE.WALK" | translate }}</span>
        <span *ngSwitchCase="5">{{"EVENTCREATION.TYPE.BIKE" | translate }}</span>
        <span *ngSwitchCase="6">{{"EVENTCREATION.TYPE.PARTY" | translate }}</span>
        <span *ngSwitchCase="7">{{"EVENTCREATION.TYPE.VACATION" | translate }}</span>
        <span *ngSwitchCase="8">{{"EVENTCREATION.TYPE.TRAVEL" | translate }}</span>
        <span *ngSwitchCase="9">{{"EVENTCREATION.TYPE.RANDO" | translate }}</span>
    </div>
    <div class="card-text" [ngSwitch]="+evenement.diffculty">
        {{"EVENTELEM.DIFF" | translate }} :
        <span *ngSwitchCase="0">{{"EVENTCREATION.DIFF.0" | translate }}</span>
        <span *ngSwitchCase="1">{{"EVENTCREATION.DIFF.1" | translate }}</span>
        <span *ngSwitchCase="2">{{"EVENTCREATION.DIFF.2" | translate }}</span>
        <span *ngSwitchCase="3">{{"EVENTCREATION.DIFF.3" | translate }}</span>
        <span *ngSwitchCase="4">{{"EVENTCREATION.DIFF.4" | translate }}</span>
        <span *ngSwitchDefault>{{"EVENTCREATION.DIFF.0" | translate }}</span>
    </div>
    <div class="card-text">
        {{"EVENTELEM.STARTLOCATION" | translate }} : {{evenement.startLocation}}
    </div>
    <div class="card-text">
        {{"EVENTELEM.BEGINDT" | translate }} : {{formatEventDateTime(evenement.beginEventDate, evenement.startHour)}}
    </div>
    <div class="card-text">
        {{"EVENTELEM.ENDDATETIME" | translate }} : {{formatEventDateTime(evenement.endEventDate, '')}}
    </div>
    <!--    
    <div class="card-text">
        {{"EVENTELEM.DURATION" | translate }} : {{evenement.durationEstimation }}
    </div>
    -->
    <div [hidden]="tfl">
        <div class="card-text">
            <hr>
            <h5><b> {{"EVENTELEM.FILES" | translate }} : </b></h5>
            <ul class="list-group">
                <li class="list-group-item justify-content-between"
                    *ngFor="let uploadedFile of evenement.fileUploadeds ">
                    <button class="btn btn-sm btn-primary" placement="right"
                        ngbTooltip="{{ 'COMMUN.OPEN' | translate }}"
                        (click)="openWindows(uploadedFile.fieldId, uploadedFile.fileName)"><i class="fa fa-files-o"
                            aria-hidden="true"></i></button>
                    <small>{{uploadedFile.fileName}}</small>
                    <!-- ( {{ 'COMMUN.BY' | translate }} {{uploadedFile.uploaderMember.userName}} ) -->
                    <button class="btn btn-sm btn-danger" placement="left"
                        ngbTooltip="{{ 'EVENTELEM.DELETEFILE' | translate }}"
                        [disabled]="!isFileOwner(uploadedFile.uploaderMember)"
                        (click)="delFile(uploadedFile.fieldId)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-text" [hidden]="!isAnyParticpants()">
        <hr>
        <h5 class="pat-members"><b> {{"EVENTELEM.MEMBERS" | translate }} : </b></h5>
        <div *ngFor="let member of evenement.members">
            <small>{{member.firstName}} {{member.lastName}} / {{member.userName}}</small>
        </div>
    </div>
</div>
<div class="card-footer card-text text-center">
    <!-- <iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" sandbox="allow-forms allow-scripts allow-same-origin" [src]="safeUrlMap" allowfullscreen></iframe> -->
    <!-- URLs Button -->
    <button class="btn btn-primary btn-sm mb-1 me-1" [hidden]="!isUrlEventsAvailable()" 
        (click)="openUrlsModal(urlsModal)" placement="top"
        ngbTooltip="{{ 'EVENTELEM.URLS' | translate }} ({{ getUrlEventsCount() }})">
        <i class="fa fa-link" aria-hidden="true"></i> {{ getUrlEventsCount() }}
    </button>
    <!-- Comments Button -->
    <button class="btn btn-sm comments-button mb-1 me-1" [hidden]="!hasComments()" (click)="openCommentsModal()" placement="top"
        ngbTooltip="{{ 'EVENTHOME.COMMENTARIES' | translate }}">
        <i class="fa fa-comments" aria-hidden="true"></i> {{ getCommentsCount() }}
    </button>
    
    <a class="btn btn-sm btn-outline-info mb-1 me-1" (click)="open(content)"
        ngbTooltip=" {{ 'EVENTELEM.CHAT' | translate }}" placement="top"><i class="fa fa-comments" aria-hidden="true"></i></a>
    <a class="btn btn-sm btn-info mb-1 me-1" [hidden]="!isParticipant()" (click)="delMemberClick()"
        ngbTooltip=" {{ 'EVENTELEM.IDWTP' | translate }}" placement="top"><i class="fa fa-user" aria-hidden="true"></i></a>
    <a class="btn btn-sm btn-success mb-1 me-1" [hidden]="isParticipant()" (click)="addMemberClick()"
        ngbTooltip=" {{ 'EVENTELEM.IWTP' | translate }}" placement="top"><i class="fa fa-user-o" aria-hidden="true"></i></a>
    <a class="btn btn-sm btn-primary mb-1 me-1" [hidden]="!isAuthor()" (click)="changeStatusEvent(evenement.status)"
        ngbTooltip="{{ 'EVENTELEM.CHGTSTATUS' | translate }}" placement="top"><i class="fa fa-circle-o-notch"
            aria-hidden="true"></i></a>
    <a class="btn btn-sm btn-warning mb-1 me-1" [routerLink]="['/updeven',evenement.id]"
        ngbTooltip="{{ 'EVENTELEM.UTE' | translate }}" placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    <a class="btn btn-sm btn-danger mb-1 me-1" [hidden]="!isAuthor()" (click)="deleteEvenement()" placement="top"
        ngbTooltip="{{ 'EVENTELEM.DTE' | translate }}"><i class="fa fa-trash" aria-hidden="true"></i></a>
    <a class="btn btn-sm btn-outline-primary mb-1 me-1" [hidden]="!isAnyFiles()" (click)="toogleFileListe()"
        placement="top" ngbTooltip="{{ 'EVENTELEM.FILESDOWNLOAD'| translate }}"><i class="fa fa-download"
            aria-hidden="true"></i> </a>

    <!-- JSON View Button -->
    <button class="btn btn-sm btn-secondary mb-1 me-1" (click)="openJsonModal()" placement="top"
        ngbTooltip="{{ 'EVENTELEM.VIEW_JSON' | translate }}">
        <i class="fa fa-code" aria-hidden="true"></i>
    </button>

    <div class="file-upload-wrapper me-1" placement="top" ngbTooltip="{{ 'EVENTELEM.UPLOAD' | translate }}">
        <label [for]="'file-upload-input-' + evenement.id" class="btn btn-sm btn-success mb-1">
            <i class="fa fa-upload" aria-hidden="true"></i>
        </label>
        <input type="file" [id]="'file-upload-input-' + evenement.id" #fileInput (change)="onFileSelected($event)" multiple 
               accept="image/*,.pdf,.doc,.docx,.txt,.zip,.rar" style="display: none;" />
    </div>
</div>
<!-- Modal window for live chat - Design moderne -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content chat-modal">
            <!-- Header moderne -->
            <div class="modal-header chat-header">
                <div class="d-flex align-items-center">
                    <div class="chat-avatar me-3">
                        <i class="fa fa-comments"></i>
                    </div>
                    <div>
                        <h5 class="modal-title mb-0">{{evenement.evenementName}}</h5>
                        <small class="text-muted">{{"EVENTELEM.LIVECHAT" | translate }}</small>
                    </div>
                </div>
                <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="d('Cross click')"></button>
            </div>
            
            <!-- Messages Container -->
            <div class="modal-body chat-body p-0">
                <div class="chat-messages" #chatMessagesContainer>
                    <div *ngFor="let item of items | async" class="message-item" [class.own-message]="item.user.userName == user.userName">
                        <div class="message-avatar">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="message-content">
                            <div class="message-header">
                                <span class="message-author">{{item.user.userName}}</span>
                                <span class="message-time">{{item.date | date:'short'}} {{item.date | date:'shortTime'}}</span>
                                <button *ngIf="item.user.userName == user.userName" 
                                        class="btn btn-sm btn-outline-danger message-delete" 
                                        (click)="deleteMessage(item)"
                                        ngbTooltip="{{ 'EVENTELEM.DELMESCHAT' | translate }}">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <div class="message-text">{{item.message}}</div>
                        </div>
                    </div>
                    <div *ngIf="!(items | async)?.length" class="no-messages text-center py-4">
                        <i class="fa fa-comment-o fa-3x text-muted mb-3"></i>
                        <p class="text-muted">{{ 'EVENTELEM.NO_MESSAGES_YET' | translate }}</p>
                    </div>
                </div>
            </div>
            
            <!-- Input moderne -->
            <div class="modal-footer chat-footer">
                <div class="input-group">
                    <input [(ngModel)]="msgVal" 
                           type="text" 
                           class="form-control chat-input" 
                           placeholder="{{ 'RESULTS.MESSAGEPLHD' | translate }}" 
                           (keyup.enter)="Send()" 
                           autofocus />
                    <button class="btn btn-primary chat-send-btn" 
                            type="button" 
                            (click)="Send()"
                            [disabled]="!msgVal.trim()">
                        <i class="fa fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<!-- Comments Modal -->
<ng-template #commentsModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">
            <i class="fa fa-comments"></i> {{ 'EVENTHOME.COMMENTARIES' | translate }} - {{ evenement.evenementName }}
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="c()"></button>
    </div>
    <div class="modal-body">
        <div *ngIf="hasComments(); else noCommentsTemplate">
            <div class="comments-container">
                <div class="comment-item" *ngFor="let comment of getEventComments()">
                    <div class="comment-header">
                        <div class="comment-author">
                            <i class="fa fa-user"></i> {{ comment.commentOwner }}
                        </div>
                        <div class="comment-date">
                            <i class="fa fa-clock-o"></i> {{ comment.dateCreation | date:'short' }}
                        </div>
                    </div>
                    <div class="comment-content">
                        {{ comment.commentary }}
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noCommentsTemplate>
            <div class="text-center text-muted py-4">
                <i class="fa fa-comments fa-3x mb-3"></i>
                <p>{{ 'EVENTHOME.NO_COMMENTARIES_ADDED' | translate }}</p>
            </div>
        </ng-template>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">
            <i class="fa fa-times"></i> {{ 'COMMUN.CLOSE' | translate }}
        </button>
    </div>
</ng-template>

<!-- JSON View Modal -->
<ng-template #jsonModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">{{evenement.evenementName}}<small> ({{ 'EVENTELEM.FORMAT_JSON' | translate }})</small></h5>
    </div>
    <div class="modal-body">
        <div class="json-container">
            <pre class="json-content">{{getEventAsJson()}}</pre>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{"COMMUN.CLOSE" | translate }}</button>
    </div>
</ng-template>

<!-- URLs Modal -->
<ng-template #urlsModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">
            <i class="fa fa-link"></i> {{ 'EVENTELEM.URLS' | translate }} - {{ evenement.evenementName }}
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div *ngIf="isUrlEventsAvailable(); else noUrlsTemplate">
            <div class="url-events-container">
                <!-- Group URLs by type -->
                <div *ngFor="let typeKey of getSortedTypeKeys()" class="url-type-group mb-4">
                    <!-- Type Header -->
                    <div class="url-type-header mb-3">
                        <h6 class="url-type-title">
                            <i class="fa fa-folder"></i> {{ getUrlTypeLabel(typeKey) | translate }}
                            <span class="badge bg-secondary ms-2">{{ getGroupedUrlEvents()[typeKey].length }}</span>
                        </h6>
                        <hr class="url-type-divider">
                    </div>
                    
                    <!-- URLs for this type -->
                    <div class="url-type-content">
                        <div class="url-event-item mb-3" *ngFor="let urlEvent of getGroupedUrlEvents()[typeKey]; let i = index">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <div class="url-event-meta">
                                        <small class="text-muted">
                                            <i class="fa fa-user"></i> {{ urlEvent.owner }} | 
                                            <i class="fa fa-calendar"></i> {{ urlEvent.dateCreation | date:'short' }}
                                        </small>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="url-event-content d-flex align-items-start gap-3">
                                        <div class="url-event-link">
                                            <a [href]="urlEvent.link" target="_blank" class="btn btn-outline-primary btn-sm">
                                                <i class="fa fa-external-link"></i> {{ urlEvent.link }}
                                            </a>
                                        </div>
                                        <div class="url-event-description flex-grow-1" *ngIf="urlEvent.urlDescription">
                                            <p class="text-muted mb-0">{{ urlEvent.urlDescription }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noUrlsTemplate>
            <div class="text-center text-muted py-4">
                <i class="fa fa-link fa-3x mb-3"></i>
                <p>{{ 'EVENTHOME.NO_LINKS_ADDED' | translate }}</p>
            </div>
        </ng-template>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">
            <i class="fa fa-times"></i> {{ 'COMMUN.CLOSE' | translate }}
        </button>
    </div>
</ng-template>

<!-- Image Modal for large display -->
<ng-template #imageModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">{{ selectedImageAlt }}</h5>
        <button type="button" class="btn-close" (click)="c()" aria-label="Close">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="modal-body text-center">
        <img [src]="selectedImageUrl" [alt]="selectedImageAlt" class="img-fluid modal-image" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">Close</button>
    </div>
</ng-template>