<!-- <div class="panel panel-default" [ngClass]="{'animated pulse':mouseOvered}" (mouseout)="mouseOvered=false" (mouseover)="mouseOvered=true" data-bs-hover-animate="pulse"> -->
<!-- thw following line allows to have tooltips on button in footer !! -->
<div class="card-wrapper" 
     [style.background]="getCardBackgroundGradient()">
<div class="card-image-container" [ngStyle]="getPhotoFrameStyles()">
    <!-- Show slideshow if active, otherwise show thumbnail -->
    <img *ngIf="!isCardSlideshowActive" 
         #thumbnailImage 
         class="card-img img-fluid img-thumbnail mx-auto d-block" 
         [src]="thumbnailUrl" 
         alt="Card image" 
         (load)="detectDominantColor()" />
    
    <!-- Card Slideshow -->
    <div *ngIf="isCardSlideshowActive" class="card-slideshow-display">
        <!-- Photo counter in bottom left -->
        <div class="card-slideshow-counter"
             [style.color]="titleBorderColor"
             [style.background-color]="titleBackgroundColor">
            {{ currentCardSlideIndex + 1 }} / {{ cardSlideImages.length }}
        </div>
        
        <!-- Image name in bottom center -->
        <div class="card-slideshow-filename"
             [style.color]="titleBorderColor"
             [style.background-color]="titleBackgroundColor">
            {{ getCurrentCardSlideFileName() }}
        </div>
        
        <!-- RGB values in bottom right -->
        <div class="card-slideshow-rgb"
             [style.color]="titleBorderColor"
             [style.background-color]="titleBackgroundColor">
            {{ calculatedRgbValues }}
        </div>
        
        <img *ngIf="currentCardSlideImage" 
             #cardSlideImage
             class="card-img img-fluid img-thumbnail mx-auto d-block slideshow-image" 
             [src]="currentCardSlideImage" 
             alt="Slideshow image"
             (load)="detectDominantColorFromSlideshow()" />
        
        <!-- Pause/Play toggle button - visible when playing -->
        <button *ngIf="!cardSlideshowPaused" 
                class="btn btn-sm btn-outline-light card-slideshow-control-btn"
                [style.border-color]="titleBorderColor"
                (click)="toggleCardSlideshowPause(); $event.stopPropagation()">
            <i class="fa fa-pause"></i>
        </button>
        
        <!-- Play button in center when paused -->
        <button *ngIf="cardSlideshowPaused" 
                class="btn btn-sm btn-outline-light card-slideshow-control-btn"
                [style.border-color]="titleBorderColor"
                (click)="toggleCardSlideshowPause(); $event.stopPropagation()">
            <i class="fa fa-play"></i>
        </button>
        
        <!-- Prev button on the left - always visible -->
        <button class="btn btn-sm btn-outline-light card-nav-btn card-nav-left"
                [style.border-color]="titleBorderColor"
                (click)="previousCardSlide(); $event.stopPropagation()">
            <i class="fa fa-chevron-left"></i>
        </button>
        
        <!-- Next button on the right - always visible -->
        <button class="btn btn-sm btn-outline-light card-nav-btn card-nav-right"
                [style.border-color]="titleBorderColor"
                (click)="nextCardSlide(); $event.stopPropagation()">
            <i class="fa fa-chevron-right"></i>
        </button>
    </div>
    
    <div class="card-img-overlay">
        <h4 class="card-title text-center pat-card" 
            [style.background-color]="titleBackgroundColor"
            [style.color]="titleBorderColor">
            <b>{{evenement.evenementName}}</b>
        </h4>
        <!-- Play button in title to start slideshow -->
        <button *ngIf="hasImageFiles() && !isCardSlideshowActive" 
                class="btn btn-sm btn-outline-light play-in-title-btn"
                [style.border-color]="titleBorderColor"
                (click)="startCardSlideshow(); $event.stopPropagation()">
            <i class="fa fa-play"></i>
        </button>
    </div>
</div>
<div class="card-block pat-card-block" [style.color]="titleBorderColor">
    <div class="alert alert-warning small pat-alert text-center"
         [style.background-color]="descriptionBackgroundColor"
         [style.color]="titleBorderColor"
         [style.border-color]="titleBorderColor">
        <!-- <b>  {{"EVENTELEM.DESC" | translate }} :</b> -->{{evenement.comments}}
    </div>
    <div class="text-center mt-2">
        <span class="badge rounded-pill rating-badge" 
              (click)="addRateMinus()" 
              placement="left"
              [style.background-color]="getRatingBadgeGradient()"
              [style.border-color]="'white'"
              [style.color]="'white'"
              ngbTooltip="{{ 'COMMUN.IDONTLIKE' | translate }}"
              (mouseleave)="onTooltipMouseLeave($event)"> {{evenement.ratingMinus || 0}}</span>
        <ngb-rating [(rate)]="currentRate">
        </ngb-rating>
        <span class="badge rounded-pill rating-badge" 
              (click)="addRatePlus()" 
              placement="right"
              [style.background-color]="getRatingBadgeGradient()"
              [style.border-color]="'white'"
              [style.color]="'white'"
              ngbTooltip="{{ 'COMMUN.ILIKE' | translate }}"
              (mouseleave)="onTooltipMouseLeave($event)">{{evenement.ratingPlus || 0}}</span>
    </div>
    <div class="card-text text-center" [ngSwitch]="evenement.status">
        <!--{{"EVENTELEM.STATUS" | translate }} :-->
        <b>
            <span *ngSwitchCase="'Closed'" 
                  class="badge status-badge me-2"
                  [style.background-color]="getStatusBadgeGradient()"
                  [style.border-color]="'white'"
                  [style.color]="'white'">{{"COMMUN.STATUSCLOSE" | translate }}</span>
            <span *ngSwitchCase="'Open'" 
                  class="badge status-badge me-2"
                  [style.background-color]="getStatusBadgeGradient()"
                  [style.border-color]="'white'"
                  [style.color]="'white'">{{"COMMUN.STATUSOPEN" | translate }}</span>
            <span *ngSwitchCase="'Cancel'" 
                  class="badge status-badge me-2"
                  [style.background-color]="getStatusBadgeGradient()"
                  [style.border-color]="'white'"
                  [style.color]="'white'">{{"COMMUN.STATUSCANCEL" | translate }}</span>
            <span [ngSwitch]="evenement.visibility">
                <span *ngSwitchCase="'public'" 
                      class="badge visibility-badge"
                      [style.background-color]="getVisibilityBadgeGradient()"
                      [style.border-color]="'white'"
                      [style.color]="'white'">{{"EVENTCREATION.PUBLIC" | translate }}</span>
                <span *ngSwitchCase="'private'" 
                      class="badge visibility-badge"
                      [style.background-color]="getVisibilityBadgeGradient()"
                      [style.border-color]="'white'"
                      [style.color]="'white'">{{"EVENTCREATION.PRIVATE" | translate }}</span>
                <span *ngSwitchDefault 
                      class="badge visibility-badge"
                      [style.background-color]="getVisibilityBadgeGradient()"
                      [style.border-color]="'white'"
                      [style.color]="'white'">{{evenement.visibility}}</span>
            </span>
        </b>
    </div>
    <small class="mb-2 proprietaire-line text-center" [style.color]="titleBorderColor">
        <i>{{ "EVENTELEM.OWNER_LABEL" | translate }} : {{ evenement.author.firstName }} {{ evenement.author.lastName }} / {{ evenement.author.userName }}</i>
    </small>
    <div class="card-info-box" [style.background-color]="getSolidColor(0.22)" [style.border-color]="getSolidColor(0.35)">
        <ul class="card-info-list">
            <li class="card-info-item" [ngSwitch]="+evenement.type">
                {{"EVENTELEM.TYPE" | translate }} :
                <span *ngSwitchCase="11">{{"EVENTCREATION.TYPE.DOCUMENTS" | translate }}</span>
                <span *ngSwitchCase="3">{{"EVENTCREATION.TYPE.RUN" | translate }}</span>
                <span *ngSwitchCase="6">{{"EVENTCREATION.TYPE.PARTY" | translate }}</span>
                <span *ngSwitchCase="4">{{"EVENTCREATION.TYPE.WALK" | translate }}</span>
                <span *ngSwitchCase="10">{{"EVENTCREATION.TYPE.PHOTOS" | translate }}</span>
                <span *ngSwitchCase="9">{{"EVENTCREATION.TYPE.RANDO" | translate }}</span>
                <span *ngSwitchCase="2">{{"EVENTCREATION.TYPE.SKI" | translate }}</span>
                <span *ngSwitchCase="7">{{"EVENTCREATION.TYPE.VACATION" | translate }}</span>
                <span *ngSwitchCase="5">{{"EVENTCREATION.TYPE.BIKE" | translate }}</span>
                <span *ngSwitchCase="8">{{"EVENTCREATION.TYPE.TRAVEL" | translate }}</span>
                <span *ngSwitchCase="1">{{"EVENTCREATION.TYPE.VTT" | translate }}</span>
            </li>
            <li class="card-info-item" [ngSwitch]="+evenement.diffculty">
                {{"EVENTELEM.DIFF" | translate }} :
                <span *ngSwitchCase="0">{{"EVENTCREATION.DIFF.NA" | translate }}</span>
                <span *ngSwitchCase="1">{{"EVENTCREATION.DIFF.0" | translate }}</span>
                <span *ngSwitchCase="2">{{"EVENTCREATION.DIFF.1" | translate }}</span>
                <span *ngSwitchCase="3">{{"EVENTCREATION.DIFF.2" | translate }}</span>
                <span *ngSwitchCase="4">{{"EVENTCREATION.DIFF.3" | translate }}</span>
                <span *ngSwitchCase="5">{{"EVENTCREATION.DIFF.4" | translate }}</span>
                <span *ngSwitchDefault>{{"EVENTCREATION.DIFF.NA" | translate }}</span>
            </li>
            <li class="card-info-item">
                {{"EVENTELEM.STARTLOCATION" | translate }} : {{evenement.startLocation}}
            </li>
            <li class="card-info-item">
                {{"EVENTELEM.BEGINDT" | translate }} : {{formatEventDateTime(evenement.beginEventDate, evenement.startHour)}}
            </li>
        </ul>
    </div>
    <div [hidden]="tfl">
        <div class="card-text">
            <hr>
            <h5 class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <b> <span style="font-size: 0.85rem;">{{"EVENTELEM.FILES" | translate }} ({{ evenement.fileUploadeds.length }})</span> : </b>
                    <button class="btn btn-sm btn-outline-primary ms-1" 
                            style="padding: 0.1rem 0.25rem; font-size: 0.65rem;"
                            [style.color]="titleBorderColor"
                            (click)="toggleFilesList()"
                            [title]="showFilesList ? ('Hide files list' | translate) : ('Show files list' | translate)">
                        <i class="fa" [class.fa-plus]="!showFilesList" [class.fa-minus]="showFilesList"></i>
                    </button>
                </div>
                <button class="btn btn-sm btn-success download-all-btn" 
                        *ngIf="evenement.fileUploadeds && evenement.fileUploadeds.length > 0"
                        (click)="downloadAllFiles()"
                        [style.background-color]="getDownloadAllButtonGradient()"
                        [style.border-color]="'white'"
                        [style.color]="'white'"
                        style="padding: 0.15rem 0.3rem; font-size: 0.7rem;">
                    <i class="fa fa-download"></i> {{ 'COMMUN.DOWNLOAD_ALL' | translate }}
                </button>
            </h5>
            <ul class="list-group files-list" 
                *ngIf="showFilesList"
                [style.background-color]="getFilesListGradient()">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    *ngFor="let uploadedFile of evenement.fileUploadeds ">
                    <span class="file-name d-flex align-items-center">
                        <!-- Thumbnail for image files -->
                        <img *ngIf="isImageFile(uploadedFile.fileName) && getFileThumbnail(uploadedFile.fieldId)" 
                             [src]="getFileThumbnail(uploadedFile.fieldId)" 
                             class="file-thumbnail me-2"
                             [class.file-thumbnail-clickable]="isImageFile(uploadedFile.fileName)"
                             [alt]="uploadedFile.fileName"
                             (click)="isImageFile(uploadedFile.fileName) && handleFileClick(uploadedFile)"
                             (error)="hideImageOnError($event)"
                             [style.cursor]="isImageFile(uploadedFile.fileName) ? 'pointer' : 'default'"
                             [title]="isImageFile(uploadedFile.fileName) ? ('EVENTELEM.CLICK_TO_VIEW' | translate) : ''" />
                        <!-- Loading indicator for image thumbnails -->
                        <span *ngIf="isImageFile(uploadedFile.fileName) && isThumbnailLoading(uploadedFile.fieldId) && !getFileThumbnail(uploadedFile.fieldId)"
                              class="file-thumbnail-loading me-2">
                            <i class="fa fa-spinner fa-spin"></i>
                        </span>
                        <span class="badge"
                              [class.badge-clickable]="isImageFile(uploadedFile.fileName) || isPdfFile(uploadedFile.fileName)"
                              [style.background-color]="getFileBadgeColor(uploadedFile.fileName)"
                              [style.border-color]="'white'"
                              [style.color]="getFileBadgeTextColor(uploadedFile.fileName)"
                              [title]="uploadedFile.fileName"
                              ngbTooltip="{{uploadedFile.fileName}}" placement="top"
                              (mouseleave)="onTooltipMouseLeave($event)"
                              (click)="(isImageFile(uploadedFile.fileName) || isPdfFile(uploadedFile.fileName)) && handleFileClick(uploadedFile)"
                              [style.cursor]="(isImageFile(uploadedFile.fileName) || isPdfFile(uploadedFile.fileName)) ? 'pointer' : 'default'">
                            {{getTruncatedFileName(uploadedFile.fileName)}}
                        </span>
                        <small class="text-muted ms-2 clickable-user" [style.color]="titleBorderColor" 
                               (click)="openUserModal(uploadedFile.uploaderMember)"
                               title="Cliquer pour voir les détails de l'utilisateur">
                            {{uploadedFile.uploaderMember.userName}}
                        </small>
                    </span>
                    <div class="file-actions">
                        <button class="btn btn-sm btn-warning me-2"
                                *ngIf="isImageFile(uploadedFile.fileName)"
                                [disabled]="isThumbnailFile(uploadedFile)"
                                ngbTooltip="{{ 'EVENTELEM.SET_AS_CARD_IMAGE' | translate }}"
                                (click)="setFileAsThumbnail(uploadedFile)"
                                [style.background-color]="getFileActionButtonGradient()"
                                [style.border-color]="'white'"
                                [style.color]="'white'"
                                (mouseleave)="onTooltipMouseLeave($event)">
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-sm btn-primary me-2"
                                *ngIf="isPdfFile(uploadedFile.fileName)"
                                ngbTooltip="{{ 'EVENTELEM.CLICK_TO_OPEN_PDF' | translate }}"
                                (click)="openPdfFile(uploadedFile.fieldId, uploadedFile.fileName)"
                                [style.background-color]="getFileActionButtonGradient()"
                                [style.border-color]="'white'"
                                [style.color]="'white'"
                                (mouseleave)="onTooltipMouseLeave($event)">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-sm btn-primary me-2" placement="left"
                            ngbTooltip="{{ 'COMMUN.DOWNLOAD' | translate }}"
                            (click)="openWindows(uploadedFile.fieldId, uploadedFile.fileName)"
                            [style.background-color]="getFileActionButtonGradient()"
                            [style.border-color]="'white'"
                            [style.color]="'white'"
                            (mouseleave)="onTooltipMouseLeave($event)">
                            <i class="fa fa-files-o" aria-hidden="true"></i>
                        </button>
                        <button class="btn btn-sm btn-danger" placement="left"
                            ngbTooltip="{{ 'EVENTELEM.DELETEFILE' | translate }}"
                            [disabled]="!isFileOwner(uploadedFile.uploaderMember)"
                            (click)="delFile(uploadedFile.fieldId)"
                            [style.background-color]="getFileActionButtonGradient()"
                            [style.border-color]="'white'"
                            [style.color]="'white'"
                            (mouseleave)="onTooltipMouseLeave($event)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="card-text" *ngIf="showParticipantsList">
        <hr>
        <h5 class="pat-members d-flex justify-content-between align-items-center">
            <div>
                <b> <span style="font-size: 0.85rem;">{{"EVENTELEM.MEMBERS" | translate }} ({{ evenement.members.length }})</span> : </b>
                <button class="btn btn-sm btn-outline-secondary ms-1" 
                        style="padding: 0.1rem 0.25rem; font-size: 0.65rem;"
                        (click)="toggleParticipantsList()"
                        [title]="('EVENTELEM.HIDE_PARTICIPANTS' | translate)">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div>
                <button class="btn btn-sm btn-success ms-1" 
                        style="padding: 0.1rem 0.4rem; font-size: 0.7rem;"
                        *ngIf="!isParticipant()"
                        (click)="addMemberClick()">
                    <i class="fa fa-user-plus"></i> {{ 'EVENTELEM.IWTP' | translate }}
                </button>
                <button class="btn btn-sm btn-danger ms-1" 
                        style="padding: 0.1rem 0.4rem; font-size: 0.7rem;"
                        *ngIf="isParticipant()"
                        (click)="delMemberClick()">
                    <i class="fa fa-user-times"></i> {{ 'EVENTELEM.IDWTP' | translate }}
                </button>
            </div>
        </h5>
        <div class="participants-container mt-2">
            <div *ngIf="evenement.members.length > 0; else noParticipantsTemplate" class="text-center">
                <span *ngFor="let member of evenement.members; let last = last" class="badge participant-badge bg-primary me-1 mb-1">
                    <i class="fa fa-user me-1"></i>
                    <span class="clickable-user" 
                          (click)="openUserModal(member)"
                          title="Cliquer pour voir les détails du participant">
                        {{member.firstName}} {{member.lastName}} / {{member.userName}}
                    </span>
                    <button class="btn btn-xs btn-outline-light ms-2" 
                            style="padding: 0.05rem 0.15rem; font-size: 0.5rem; border: none;"
                            (click)="sendEmail(member.addressEmail); $event.stopPropagation()"
                            title="{{ 'EVENTELEM.SEND_EMAIL' | translate }}">
                        <i class="fa fa-envelope"></i>
                    </button>
                </span>
            </div>
            <ng-template #noParticipantsTemplate>
                <div class="text-muted text-center py-2" [style.color]="titleBorderColor">
                    <i class="fa fa-users"></i> Aucun participant pour le moment
                </div>
            </ng-template>
        </div>
    </div>
</div>
<div class="card-footer card-text text-center" [style.color]="titleBorderColor">
    <!-- <iframe width="100%" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" sandbox="allow-forms allow-scripts allow-same-origin" [src]="safeUrlMap" allowfullscreen></iframe> -->
    <!-- Unified Photos Button (opens FS selector if present, else uploaded slideshow) -->
    <button class="btn btn-sm btn-outline-success mb-1 me-1" 
            [hidden]="!(hasImageFiles() || getPhotoFromFsCount() > 0)" 
            [style.background-color]="getButtonGradientForType('photos', dominantR, dominantG, dominantB)"
            [style.border-color]="'white'"
            (click)="openPhotos()"
            placement="right"
            container="body"
            ngbTooltip="{{ 'EVENTELEM.SLIDESHOW' | translate }}"
            (mouseleave)="onTooltipMouseLeave($event)">
        <i class="fa fa-picture-o" aria-hidden="true"></i> {{ getTotalPhotosCount() }}
    </button>
    
    <!-- View Details Button -->
    <a class="btn btn-sm btn-outline-info mb-1 me-1 eye-button" 
       [routerLink]="['/details-evenement', evenement.id]" 
       [style.background-color]="getButtonGradientForType('details', dominantR, dominantG, dominantB)"
       [style.border-color]="'white'"
       placement="top"
       ngbTooltip="{{ 'EVENTELEM.VIEW_DETAILS' | translate }}"
       (mouseleave)="onTooltipMouseLeave($event)">
        <i class="fa fa-eye" aria-hidden="true"></i>
    </a>
    
    <!-- URLs Button -->
    <button *ngIf="getUrlEventsCount() > 0"
            class="btn btn-primary btn-sm mb-1 me-1" 
            [style.background-color]="getButtonGradientForType('urls', dominantR, dominantG, dominantB)"
            [style.border-color]="'white'"
            (click)="openUrlsModal(urlsModal)" 
            placement="top"
            ngbTooltip="{{ 'EVENTELEM.URLS' | translate }} ({{ getUrlEventsCount() }})"
            (mouseleave)="onTooltipMouseLeave($event)">
        <i class="fa fa-link" aria-hidden="true"></i> {{ getUrlEventsCount() }}
    </button>

    <!-- Comments Button -->
    <button *ngIf="hasComments()" 
            class="btn btn-sm comments-button mb-1 me-1" 
            [style.background-color]="getButtonGradientForType('comments', dominantR, dominantG, dominantB)"
            [style.border-color]="'white'"
            (click)="openCommentsModal()" 
            placement="top"
            ngbTooltip="{{ 'EVENTHOME.COMMENTARIES' | translate }}"
            (mouseleave)="onTooltipMouseLeave($event)">
        <i class="fa fa-comments" aria-hidden="true"></i> {{ getCommentsCount() }}
    </button>
    
    <a class="btn btn-sm btn-outline-info mb-1 me-1" 
       [style.background-color]="getButtonGradientForType('chat', dominantR, dominantG, dominantB)"
       [style.border-color]="'white'"
       (click)="open(content)"
       ngbTooltip=" {{ 'EVENTELEM.CHAT' | translate }}" 
       placement="top"
       (mouseleave)="onTooltipMouseLeave($event)"><i class="fa fa-comments" aria-hidden="true"></i></a>
    <a class="btn btn-sm btn-success mb-1 me-1" 
       [style.background-color]="getButtonGradientForType('participation', dominantR, dominantG, dominantB)"
       [style.border-color]="'white'"
       (click)="addMemberClick()" 
       ngbTooltip="{{ 'EVENTELEM.PARTICIPATION' | translate }}" 
       placement="top"
       (mouseleave)="onTooltipMouseLeave($event)"><i class="fa fa-user-o" aria-hidden="true"></i></a>
    <a class="btn btn-sm btn-primary mb-1 me-1" 
       [hidden]="!isAuthor()" 
       [style.background-color]="getButtonGradientForType('status', dominantR, dominantG, dominantB)"
       [style.border-color]="'white'"
       (click)="changeStatusEvent(evenement.status)"
       ngbTooltip="{{ 'EVENTELEM.CHGTSTATUS' | translate }}" 
       placement="top"
       (mouseleave)="onTooltipMouseLeave($event)"><i class="fa fa-circle-o-notch"
            aria-hidden="true"></i></a>
    <a class="btn btn-sm btn-warning mb-1 me-1" 
       [style.background-color]="getButtonGradientForType('edit', dominantR, dominantG, dominantB)"
       [style.border-color]="'white'"
       [routerLink]="['/updeven',evenement.id]"
       ngbTooltip="{{ 'EVENTELEM.UTE' | translate }}" 
       placement="top"
       (mouseleave)="onTooltipMouseLeave($event)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    <a class="btn btn-sm btn-outline-primary mb-1 me-1" 
       [hidden]="!isAnyFiles()" 
       [style.background-color]="getButtonGradientForType('download', dominantR, dominantG, dominantB)"
       [style.border-color]="'white'"
       (click)="toogleFileListe()"
       placement="top" 
       ngbTooltip="{{ 'EVENTELEM.FILESDOWNLOAD'| translate }}"
       (mouseleave)="onTooltipMouseLeave($event)"><i class="fa fa-download"
            aria-hidden="true"></i> {{ getFilesCount() }}</a>

    <div class="file-upload-wrapper me-1" placement="top" ngbTooltip="{{ 'EVENTELEM.UPLOAD' | translate }}"
         (mouseleave)="onTooltipMouseLeave($event)">
        <label [for]="'file-upload-input-' + evenement.id" 
               class="btn btn-sm btn-success mb-1"
               [style.background-color]="getButtonGradientForType('upload', dominantR, dominantG, dominantB)"
               [style.border-color]="'white'">
            <i class="fa fa-upload" aria-hidden="true"></i>
        </label>
        <input type="file" [id]="'file-upload-input-' + evenement.id" #fileInput (change)="onFileSelected($event)" multiple 
               accept="image/*,.pdf,.doc,.docx,.txt,.zip,.rar" style="display: none;" />
    </div>

    <!-- Color calculation mode toggle button -->
    <button *ngIf="thumbnailUrl && thumbnailUrl !== 'assets/images/images.jpg'"
            class="btn btn-sm btn-outline-secondary mb-1 me-1"
            [style.background-color]="getButtonGradientForType('color', dominantR, dominantG, dominantB)"
            [style.border-color]="'white'"
            (click)="toggleColorCalculationMode()"
            placement="top"
            ngbTooltip="{{ 'EVENTELEM.CARD_COLOR' | translate }}"
            (mouseleave)="onTooltipMouseLeave($event)">
        <i class="fa" [class.fa-image]="useFullImageForColor" [class.fa-crop]="!useFullImageForColor"></i>
    </button>

</div>
</div>


<!-- Modal window for live chat - Design moderne -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content chat-modal">
            <!-- Header moderne -->
            <div class="modal-header chat-header">
                <div class="d-flex align-items-center">
                    <div class="chat-avatar me-3">
                        <i class="fa fa-comments"></i>
                    </div>
                    <div>
                        <h5 class="modal-title mb-0">{{evenement.evenementName}}</h5>
                        <small class="text-muted">{{"EVENTELEM.LIVECHAT" | translate }}</small>
                    </div>
                </div>
                <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="d('Cross click')"></button>
            </div>
            
            <!-- Messages Container -->
            <div class="modal-body chat-body p-0">
                <div class="chat-messages" #chatMessagesContainer>
                    <div *ngFor="let item of items | async" class="message-item" [class.own-message]="item.user.userName == user.userName">
                        <div class="message-avatar">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="message-content">
                            <div class="message-header">
                                <span class="message-author">{{item.user.userName}}</span>
                                <span class="message-time">{{item.date | date:'short'}} {{item.date | date:'shortTime'}}</span>
                                <button *ngIf="item.user.userName == user.userName" 
                                        class="btn btn-sm btn-outline-danger message-delete" 
                                        (click)="deleteMessage(item)"
                                        ngbTooltip="{{ 'EVENTELEM.DELMESCHAT' | translate }}"
                                        (mouseleave)="onTooltipMouseLeave($event)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                            <div class="message-text">{{item.message}}</div>
                        </div>
                    </div>
                    <div *ngIf="!(items | async)?.length" class="no-messages text-center py-4">
                        <i class="fa fa-comment-o fa-3x text-muted mb-3"></i>
                        <p class="text-muted">{{ 'EVENTELEM.NO_MESSAGES_YET' | translate }}</p>
                    </div>
                </div>
            </div>
            
            <!-- Input moderne -->
            <div class="modal-footer chat-footer">
                <div class="input-group">
                    <input [(ngModel)]="msgVal" 
                           type="text" 
                           class="form-control chat-input" 
                           placeholder="{{ 'RESULTS.MESSAGEPLHD' | translate }}" 
                           (keyup.enter)="Send()" 
                           autofocus />
                    <button class="btn btn-primary chat-send-btn" 
                            type="button" 
                            (click)="Send()"
                            [disabled]="!msgVal.trim()">
                        <i class="fa fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<!-- Comments Modal -->
<ng-template #commentsModal let-c="close" let-d="dismiss">
    <div class="modal-header selector-header">
        <h5 class="modal-title">
            <i class="fa fa-comments"></i> {{ 'EVENTHOME.COMMENTARIES' | translate }} - {{ evenement.evenementName }}
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="c()"></button>
    </div>
    <div class="modal-body selector-body">
        <div *ngIf="hasComments(); else noCommentsTemplate">
            <div class="comments-container">
                <div class="comment-item" *ngFor="let comment of getEventComments()">
                    <div class="comment-header">
                        <div class="comment-author">
                            <i class="fa fa-user"></i> {{ comment.commentOwner }}
                        </div>
                        <div class="comment-date">
                            <i class="fa fa-clock-o"></i> {{ comment.dateCreation | date:'short' }}
                        </div>
                    </div>
                    <div class="comment-content">
                        {{ comment.commentary }}
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noCommentsTemplate>
            <div class="text-center text-muted py-4">
                <i class="fa fa-comments fa-3x mb-3"></i>
                <p>{{ 'EVENTHOME.NO_COMMENTARIES_ADDED' | translate }}</p>
            </div>
        </ng-template>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c()">
            <i class="fa fa-times"></i> {{ 'COMMUN.CLOSE' | translate }}
        </button>
    </div>
</ng-template>

<!-- JSON View Modal -->
<ng-template #jsonModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">{{evenement.evenementName}}<small> ({{ 'EVENTELEM.FORMAT_JSON' | translate }})</small></h5>
    </div>
    <div class="modal-body">
        <div class="json-container">
            <pre class="json-content">{{getEventAsJson()}}</pre>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{"COMMUN.CLOSE" | translate }}</button>
    </div>
</ng-template>

<!-- URLs Modal -->
<ng-template #urlsModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="modal-title">
            <i class="fa fa-link"></i> {{ 'EVENTELEM.URLS' | translate }} - {{ evenement.evenementName }}
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div *ngIf="isUrlEventsAvailable(); else noUrlsTemplate">
            <div class="url-events-container">
                <!-- Group URLs by type -->
                <div *ngFor="let typeKey of getSortedTypeKeys()" class="url-type-group mb-4">
                    <!-- Type Header -->
                    <div class="url-type-header mb-3">
                        <h6 class="url-type-title">
                            <i class="fa fa-folder"></i> {{ getUrlTypeLabel(typeKey) | translate }}
                            <span class="badge bg-secondary ms-2">{{ getGroupedUrlEvents()[typeKey].length }}</span>
                        </h6>
                        <hr class="url-type-divider">
                    </div>
                    
                    <!-- URLs for this type -->
                    <div class="url-type-content">
                        <div class="url-event-item mb-3" *ngFor="let urlEvent of getGroupedUrlEvents()[typeKey]; let i = index">
                            <div class="card">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <div class="url-event-meta">
                                        <small class="text-muted">
                                            <i class="fa fa-user"></i> {{ urlEvent.owner }} | 
                                            <i class="fa fa-calendar"></i> {{ urlEvent.dateCreation | date:'short' }}
                                        </small>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="url-event-content d-flex align-items-start gap-3">
                                        <div class="url-event-link">
                                            <a [href]="urlEvent.link"
                                               target="_blank"
                                               class="btn btn-outline-primary btn-sm"
                                               [title]="urlEvent.link">
                                                <i class="fa fa-external-link"></i> {{ getTruncatedUrl(urlEvent.link) }}
                                            </a>
                                        </div>
                                        <div class="url-event-description flex-grow-1" *ngIf="urlEvent.urlDescription">
                                            <p class="text-muted mb-0">{{ urlEvent.urlDescription }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #noUrlsTemplate>
            <div class="text-center text-muted py-4">
                <i class="fa fa-link fa-3x mb-3"></i>
                <p>{{ 'EVENTHOME.NO_LINKS_ADDED' | translate }}</p>
            </div>
        </ng-template>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">
            <i class="fa fa-times"></i> {{ 'COMMUN.CLOSE' | translate }}
        </button>
    </div>
</ng-template>

<!-- FS Photos Selector Modal -->
<!-- Photos Selector Modal Component -->
<app-photos-selector-modal #photosSelectorModalComponent (selectionConfirmed)="onPhotosSelectionConfirmed($event)"></app-photos-selector-modal>

<!-- User Details Modal -->
<ng-template #userModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title">
            <i class="fa fa-user me-2"></i>
            Détails de l'utilisateur
        </h5>
        <button type="button" class="btn-close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" *ngIf="selectedUser">
        <div class="user-details">
            <div class="detail-row">
                <strong>Prénom :</strong>
                <span>{{ selectedUser.firstName }}</span>
            </div>
            <div class="detail-row">
                <strong>Nom :</strong>
                <span>{{ selectedUser.lastName }}</span>
            </div>
            <div class="detail-row">
                <strong>Nom d'utilisateur :</strong>
                <span>{{ selectedUser.userName }}</span>
            </div>
            <div class="detail-row">
                <strong>Email :</strong>
                <span>{{ selectedUser.addressEmail }}
                    <button class="btn btn-sm btn-outline-primary ms-2" 
                            (click)="sendEmail(selectedUser.addressEmail)"
                            title="{{ 'EVENTELEM.SEND_EMAIL' | translate }}">
                        <i class="fa fa-envelope"></i>
                    </button>
                </span>
            </div>
            <div class="detail-row">
                <strong>ID :</strong>
                <span>{{ selectedUser.id }}</span>
            </div>
            <div class="detail-row">
                <strong>Keycloak ID :</strong>
                <span>{{ selectedUser.keycloakId }}</span>
            </div>
            <div class="detail-row">
                <strong>Rôles :</strong>
                <span>{{ selectedUser.roles.join(', ') }}</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">
            Fermer
        </button>
    </div>
</ng-template>

<!-- Slideshow Modal Component -->
<app-slideshow-modal #slideshowModalComponent (closed)="onSlideshowClosed()"></app-slideshow-modal>


<!-- Upload Logs Modal -->
<ng-template #uploadLogsModal let-modal>
    <div class="modal-header bg-primary text-white">
        <h5 class="modal-title">
            <i class="fa fa-upload me-2"></i>
            Upload Progress
        </h5>
        <button type="button" class="btn-close btn-close-white" (click)="modal.dismiss('Cross click')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="upload-logs-content">
            <div class="log-content" #logContent>
                <div class="log-entry" 
                     *ngFor="let log of uploadLogs"
                     [class.log-success]="log.startsWith('SUCCESS:')"
                     [class.log-error]="log.startsWith('ERROR:')">
                    {{ log }}
                </div>
                <div *ngIf="uploadLogs.length === 0" class="text-center text-muted">
                    Waiting for upload to start...
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel click')" [disabled]="isUploading">
            Close
        </button>
    </div>
</ng-template>
