<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <!-- Brand -->
    <a class="navbar-brand" [routerLink]="['']">
        <img src="assets/images/pat.png" width="30" height="30" class="d-inline-block align-top" alt="">
        {{ 'MENU.BRAND' | translate }}
    </a>

    <!-- Mobile toggle button -->
    <button class="navbar-toggler" type="button" 
            (click)="toggleMobileMenu()"
            [attr.aria-expanded]="!isMenuCollapsed" 
            aria-controls="navbarNav" 
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navigation menu -->
    <div class="collapse navbar-collapse" 
         id="navbarNav"
         [ngClass]="{'show': !isMenuCollapsed}">
        
        <ul class="navbar-nav me-auto">
            <!-- Events Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" 
                   href="#" 
                   id="eventsDropdown" 
                   role="button"
                   (click)="toggleEventsDropdown($event)" 
                   [attr.aria-expanded]="showEventsDropdown">
                    <i class="fa fa-calendar"></i> {{ 'MENU.EVENTS' | translate }}
                </a>
                <ul class="dropdown-menu" 
                    [class.show]="showEventsDropdown" 
                    aria-labelledby="eventsDropdown">
                    <li><a class="dropdown-item" 
                           [routerLink]="['even']" 
                           (click)="closeMenu()">
                        <i class="fa fa-list"></i> {{ 'MENU.EVENTSLIST' | translate }}
                    </a></li>
                    <li><a class="dropdown-item" 
                           [routerLink]="['neweven']" 
                           (click)="closeMenu()">
                        <i class="fa fa-plus"></i> {{ 'MENU.EVENTSCREATION' | translate }}
                    </a></li>
                </ul>
            </li>

            <!-- Links Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" 
                   href="#" 
                   id="linksDropdown" 
                   role="button"
                   (click)="toggleLinksDropdown($event)" 
                   [attr.aria-expanded]="showLinksDropdown">
                    <i class="fa fa-link"></i> {{ 'MENU.LINKS' | translate }}
                </a>
                <ul class="dropdown-menu" 
                    [class.show]="showLinksDropdown" 
                    aria-labelledby="linksDropdown">
                    <li><a class="dropdown-item" 
                           [routerLink]="['links']" 
                           (click)="closeMenu()">
                        <i class="fa fa-link"></i> {{ 'MENU.LINKS' | translate }}
                    </a></li>
                    <li><a class="dropdown-item" 
                           [routerLink]="['links-admin']" 
                           (click)="closeMenu()">
                        <i class="fa fa-cog"></i> Administration
                    </a></li>
                </ul>
            </li>

            <!-- Friends -->
            <li class="nav-item">
                <a class="nav-link" 
                   [routerLink]="['friends']" 
                   (click)="closeMenu()">
                    <i class="fa fa-users"></i> {{ 'MENU.FRIENDS' | translate }}
                </a>
            </li>

            <!-- AI Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" 
                   href="#" 
                   id="aiDropdown" 
                   role="button"
                   (click)="toggleIADropdown($event)" 
                   [attr.aria-expanded]="showIADropdown">
                    <i class="fa fa-magic"></i> {{ 'MENU.IA' | translate }}
                </a>
                <ul class="dropdown-menu" 
                    [class.show]="showIADropdown" 
                    aria-labelledby="aiDropdown">
                    <li><a class="dropdown-item" 
                           href="https://search.brave.com/?lang=fr-fr" 
                           target="_blank" 
                           (click)="closeMenuOnly(); $event.stopPropagation()">
                        <i class="fa fa-magic"></i> Brave
                    </a></li>
                    <li><a class="dropdown-item" 
                           href="https://chatgpt.com/?oai-dm=1" 
                           target="_blank" 
                           (click)="closeMenuOnly(); $event.stopPropagation()">
                        <i class="fa fa-comments"></i> ChatGPT
                    </a></li>
                    <li><a class="dropdown-item" 
                           href="https://www.deepseek.com/" 
                           target="_blank" 
                           (click)="closeMenuOnly(); $event.stopPropagation()">
                        <i class="fa fa-lightbulb-o"></i> Deepseek
                    </a></li>
                    <li><a class="dropdown-item" 
                           href="https://chat.mistral.ai/chat" 
                           target="_blank" 
                           (click)="closeMenuOnly(); $event.stopPropagation()">
                        <i class="fa fa-cloud"></i> Mistral AI
                    </a></li>
                    <li><a class="dropdown-item" 
                           [routerLink]="['patgpt']" 
                           (click)="closeMenu(); $event.stopPropagation()">
                        <i class="fa fa-magic"></i> {{ 'MENU.PATGPT' | translate }}
                    </a></li>
                </ul>
            </li>

            <!-- IoT -->
            <li class="nav-item">
                <a class="nav-link" 
                   [routerLink]="['iot']" 
                   (click)="closeMenu()">
                    <i class="fa fa-wifi"></i> {{ 'MENU.IOT' | translate }}
                </a>
            </li>

            <!-- Tools Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" 
                   href="#" 
                   id="toolsDropdown" 
                   role="button"
                   (click)="toggleToolsDropdown($event)" 
                   [attr.aria-expanded]="showToolsDropdown">
                    <i class="fa fa-wrench"></i> {{ 'MENU.TOOLS' | translate }}
                </a>
                <ul class="dropdown-menu" 
                    [class.show]="showToolsDropdown" 
                    aria-labelledby="toolsDropdown"
                    (mouseenter)="showToolsDropdown = true"
                    (mouseleave)="onToolsMenuLeave($event)">
                    <li [hidden]="!isAuthenticated()"><a class="dropdown-item" 
                           [routerLink]="['system']" 
                           (click)="closeMenu()">
                        <i class="fa fa-cog"></i> System
                    </a></li>
                    <li><a class="dropdown-item" 
                           [routerLink]="['maps']" 
                           (click)="closeMenu()">
                        <i class="fa fa-map"></i> {{ 'MENU.MAPS' | translate }}
                    </a></li>
                    <li><a class="dropdown-item" 
                           [routerLink]="['results']" 
                           (click)="closeMenu()">
                        <i class="fa fa-comments"></i> {{ 'MENU.RESULTS' | translate }}
                    </a></li>
                    <li [hidden]="!isAuthenticated()"><a class="dropdown-item" 
                           (click)="open(uploadfilecontent); closeMenu(); $event.preventDefault()">
                        <i class="fa fa-cloud-upload"></i> {{ "UPLOADFILE.MENU" | translate }}
                    </a></li>
                    <li [hidden]="!isAuthenticated()"><a class="dropdown-item" 
                           (click)="open(sharefilecontent); closeMenu(); $event.preventDefault()">
                        <i class="fa fa-share-alt"></i> {{ "SHAREFILE.MENU" | translate }}
                    </a></li>
                    <li class="dropdown-submenu" 
                        #documentationSubmenuItem
                        (mouseenter)="showDocumentationSubmenu = true; showToolsDropdown = true; showLanguageSubmenu = false; positionDocumentationSubmenu()"
                        (mouseleave)="checkCloseDocumentationSubmenu($event)">
                        <a class="dropdown-item documentation-toggle" 
                           href="#" 
                           id="documentationSubmenu"
                           (click)="toggleDocumentationSubmenuOnClick($event)">
                            <i class="fa fa-book"></i> {{ 'MENU.DOCUMENTATION' | translate }}
                        </a>
                        <ul class="dropdown-menu documentation-submenu-list" 
                            #documentationSubmenu
                            [class.show]="showDocumentationSubmenu"
                            [style.display]="showDocumentationSubmenu ? 'block' : 'none'"
                            [style.opacity]="showDocumentationSubmenu ? '1' : '0'"
                            [style.visibility]="showDocumentationSubmenu ? 'visible' : 'hidden'"
                            aria-labelledby="documentationSubmenu"
                            (mouseenter)="showDocumentationSubmenu = true; showToolsDropdown = true; showLanguageSubmenu = false"
                            (mouseleave)="checkCloseDocumentationSubmenu($event)">
                            <li>
                                <a class="dropdown-item" 
                                   (click)="openSlideshowDocumentation(); showDocumentationSubmenu = false; closeMenu(); $event.preventDefault()">
                                    <i class="fa fa-picture-o"></i> {{ 'MENU.SLIDESHOW_DOCUMENTATION' | translate }}
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" 
                                   (click)="openRecentFeaturesDocumentation(); showDocumentationSubmenu = false; closeMenu(); $event.preventDefault()">
                                    <i class="fa fa-file-text-o"></i> Recent Features Documentation
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu" 
                        #languageSubmenuItem
                        (mouseenter)="showLanguageSubmenu = true; showToolsDropdown = true; showDocumentationSubmenu = false; positionLanguageSubmenu()"
                        (mouseleave)="checkCloseLanguageSubmenu($event)">
                        <a class="dropdown-item language-toggle" 
                           href="#" 
                           id="languageSubmenu"
                           (click)="toggleLanguageSubmenuOnClick($event)">
                            <i class="fa fa-language"></i> {{ 'MENU.LANG' | translate }}
                        </a>
                        <ul class="dropdown-menu language-submenu-list" 
                            #languageSubmenu
                            [class.show]="showLanguageSubmenu"
                            [style.display]="showLanguageSubmenu ? 'block' : 'none'"
                            [style.opacity]="showLanguageSubmenu ? '1' : '0'"
                            [style.visibility]="showLanguageSubmenu ? 'visible' : 'hidden'"
                            aria-labelledby="languageSubmenu"
                            (mouseenter)="showLanguageSubmenu = true; showToolsDropdown = true; showDocumentationSubmenu = false"
                            (mouseleave)="checkCloseLanguageSubmenu($event)">
                            <li *ngFor="let lang of _translate.getLangs()">
                                <a class="dropdown-item" 
                                   (click)="_translate.use(lang); closeMenu()"
                                   [class.active]="lang === _translate.currentLang">
                                    <i class="fa language-check" [class.fa-check]="lang === _translate.currentLang" [class.fa-circle-o]="lang !== _translate.currentLang"></i>
                                    {{ 'LANGUAGE.' + lang.toUpperCase() | translate }}
                                    <span class="flag-wrapper">
                                        <span class="fi fi-{{getCountryCode(lang)}}"></span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>

        <!-- User Section -->
        <ul class="navbar-nav">
            <li class="nav-item" [hidden]="!isAuthenticated()">
                <a class="nav-link" 
                   (click)="open(usercontent); closeMenu(); $event.preventDefault()">
                    <i class="fa fa-user"></i> {{ user.userName }}
                </a>
            </li>
            <li class="nav-item" [hidden]="!isAuthenticated()">
                <a class="nav-link" 
                   href="#" 
                   (click)="logout(); closeMenu()">
                    <i class="fa fa-sign-out"></i> {{ 'MENU.LOGOUT' | translate }}
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="pat-div"></div>
<router-outlet></router-outlet>

<!-- Modal window for user information -->
<ng-template #usercontent let-c="close" let-d="dismiss">
    <div class="user-modal-container">
        <div class="user-modal-header">
            <div class="user-modal-title-section">
                <i class="fa fa-user-circle user-modal-icon"></i>
                <h5 class="user-modal-title">{{"USERINFO.TITLE" | translate }}</h5>
            </div>
            <button type="button" class="user-modal-close" [attr.aria-label]="'COMMUN.CLOSE' | translate" (click)="d('Cross click')">
                <i class="fa fa-times"></i>
            </button>
        </div>
        
        <div class="user-modal-body">
            <div class="user-info-grid">
                <div class="user-info-item">
                    <div class="info-icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="info-content">
                        <div class="info-label">{{"USERINFO.EMAIL" | translate}}</div>
                        <div class="info-value d-flex align-items-center">
                            <span class="flex-grow-1">{{user.addressEmail}}</span>
                            <button class="btn btn-sm btn-outline-primary ms-2" 
                                    (click)="sendEmail(user.addressEmail)"
                                    [attr.title]="'EVENTELEM.SEND_EMAIL' | translate">
                                <i class="fa fa-envelope"></i>
                            </button>
                        </div>
                    </div>
                </div>
                
                <div class="user-info-item">
                    <div class="info-icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="info-content">
                        <div class="info-label">{{"USERINFO.FIRSTNAME" | translate}}</div>
                        <div class="info-value">{{user.firstName}}</div>
                    </div>
                </div>
                
                <div class="user-info-item">
                    <div class="info-icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="info-content">
                        <div class="info-label">{{"USERINFO.LASTNAME" | translate}}</div>
                        <div class="info-value">{{user.lastName}}</div>
                    </div>
                </div>
                
                <div class="user-info-item">
                    <div class="info-icon">
                        <i class="fa fa-at"></i>
                    </div>
                    <div class="info-content">
                        <div class="info-label">{{"USERINFO.USERNAME" | translate}}</div>
                        <div class="info-value">{{user.userName}}</div>
                    </div>
                </div>
                
                <div class="user-info-item">
                    <div class="info-icon">
                        <i class="fa fa-key"></i>
                    </div>
                    <div class="info-content">
                        <div class="info-label">{{"USERINFO.KEYCLOAKID" | translate}}</div>
                        <div class="info-value">{{user.keycloakId}}</div>
                    </div>
                </div>
                
                <div class="user-info-item">
                    <div class="info-icon">
                        <i class="fa fa-id-card"></i>
                    </div>
                    <div class="info-content">
                        <div class="info-label">{{"USERINFO.ID" | translate}}</div>
                        <div class="info-value">{{user.id}}</div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="user-modal-footer">
            <button type="button" class="user-modal-btn user-modal-btn-close" (click)="c('Close click')">
                <i class="fa fa-times"></i>
                {{"COMMUN.CLOSE" | translate}}
            </button>
        </div>
    </div>
</ng-template>

<!-- Modal window for Upload files -->
<ng-template #uploadfilecontent let-c="close" let-d="dismiss">
    <div class="modal-content pat-upload-modal">
        <div class="modal-header pat-modal-header">
            <button type="button" class="btn btn-outline-light btn-sm rounded-circle modal-close-btn-left" (click)="c('Close click')" [attr.aria-label]="'COMMUN.CLOSE' | translate">
                <i class="fa fa-times"></i>
            </button>
            <div class="modal-title-container">
                <i class="fa fa-cloud-upload modal-icon"></i>
                <h6 class="modal-title pat-modal-title">{{"UPLOADFILE.TITLE" | translate}}</h6>
            </div>
        </div>
        <div class="modal-body pat-modal-body">
            <form (ngSubmit)="onSubmit()" enctype="multipart/form-data" class="upload-form">
                <!-- File Drop Zone -->
                <div class="file-drop-zone" 
                     [class.has-files]="selectedFiles && selectedFiles.length > 0"
                     [class.dragover]="isDragOver"
                     (dragover)="onDragOver($event)"
                     (dragleave)="onDragLeave($event)"
                     (drop)="onFileDrop($event)">
                    <div class="drop-zone-content">
                        <i class="fa fa-upload drop-zone-icon"></i>
                        <h6 class="drop-zone-title">{{"UPLOADFILE.DROPZONE_TITLE" | translate}}</h6>
                        <p class="drop-zone-subtitle">{{"UPLOADFILE.DROPZONE_SUBTITLE" | translate}}</p>
                        <input type="file" name="files" multiple (change)="onFilesSelected($event)" 
                               class="file-input" id="fileInput" />
                        <label for="fileInput" class="btn btn-outline-primary btn-lg file-select-btn" (click)="onFileSelectClick($event)">
                            <i class="fa fa-folder-open"></i> {{"UPLOADFILE.SELECT_FILES" | translate}}
                        </label>
                    </div>
                </div>
                
                <!-- Image Compression Toggle -->
                <div class="compression-toggle-container mb-3">
                    <div class="form-check form-switch compression-switch-wrapper">
                        <input class="form-check-input compression-switch" type="checkbox" id="compressImagesToggle" 
                               [(ngModel)]="compressImages" name="compressImages">
                        <label class="form-check-label compression-label" for="compressImagesToggle">
                            <i class="fa fa-image compression-icon"></i> 
                            <span class="compression-text">{{"UPLOADFILE.COMPRESS_IMAGES" | translate}}</span>
                        </label>
                    </div>
                    <small class="compression-desc d-block mt-2">
                        {{"UPLOADFILE.COMPRESS_IMAGES_DESC" | translate}}
                    </small>
                </div>

                <!-- Selected Files Display -->
                <div *ngIf="selectedFiles && selectedFiles.length > 0" class="selected-files">
                    <!-- Dropdown for file list -->
                    <div class="dropdown">
                        <button class="btn btn-outline-primary dropdown-toggle w-100 file-selector-btn" 
                                type="button" 
                                id="filesDropdown" 
                                data-bs-toggle="dropdown" 
                                aria-expanded="false">
                            <i class="fa fa-folder-open me-2"></i> 
                            <span class="file-selector-text">{{"UPLOADFILE.SELECTED_FILES" | translate}}</span>
                            <span class="badge bg-primary ms-2">{{selectedFiles.length}}</span>
                        </button>
                        <ul class="dropdown-menu w-100 file-list-dropdown" aria-labelledby="filesDropdown">
                            <li *ngFor="let file of selectedFiles; let i = index" class="file-list-item">
                                <div class="file-item-container">
                                    <div class="file-item-icon" *ngIf="!isImageFile(file)">
                                        <i class="fa" 
                                           [class.fa-file]="!isFileCompressed(file)"
                                           [class.fa-file-image-o]="isFileCompressed(file)"
                                           [class.text-primary]="isFileCompressed(file)"
                                           [class.text-secondary]="!isFileCompressed(file)"></i>
                                    </div>
                                    <div class="file-item-preview" *ngIf="isImageFile(file) && getFilePreviewUrl(file)">
                                        <img [src]="getFilePreviewUrl(file)" 
                                             [alt]="file.name"
                                             class="file-preview-image"
                                             (error)="hideImagePreview($event)">
                                    </div>
                                    <div class="file-item-info">
                                        <div class="file-item-name">{{file.name}}</div>
                                        <div class="file-item-size">
                                            <span *ngIf="isFileCompressed(file) && getFileOriginalSize(file)" 
                                                  class="file-size-original">
                                                {{getFileOriginalSize(file)}}
                                            </span>
                                            <span class="file-size-current" 
                                                  [class.text-success]="isFileCompressed(file)"
                                                  [class.font-weight-bold]="isFileCompressed(file)">
                                                {{getFileDisplaySize(file)}}
                                            </span>
                                            <span *ngIf="isFileCompressed(file)" 
                                                  class="compression-badge">
                                                <i class="fa fa-compress"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <button type="button" 
                                            class="file-remove-btn" 
                                            (click)="removeFile(i); $event.stopPropagation()"
                                            [attr.title]="'UPLOADFILE.REMOVE_FILE' | translate">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Unified Status Container -->
                <div *ngIf="isCompressing || compressionStatus || isLoading || resultSaveOndisk" 
                     class="unified-status-container mb-3"
                     [class.status-compressing]="isCompressing"
                     [class.status-compression-complete]="!isCompressing && compressionStatus && !isLoading && !resultSaveOndisk"
                     [class.status-uploading]="isLoading && !isCompressing"
                     [class.status-success]="resultSaveOndisk && (resultSaveOndisk.includes('OK') || resultSaveOndisk.includes('successful') || resultSaveOndisk.includes('succès') || resultSaveOndisk.includes('réussi') || resultSaveOndisk.includes('téléchargés'))"
                     [class.status-error]="resultSaveOndisk && (resultSaveOndisk.includes('Error') || resultSaveOndisk.includes('Issue') || resultSaveOndisk.includes('Erreur') || resultSaveOndisk.includes('échoué') || resultSaveOndisk.includes('échec') || resultSaveOndisk.includes('failed'))">
                    <div class="unified-status-content">
                        <!-- Compression in Progress -->
                        <div *ngIf="isCompressing && compressionProgress" class="d-flex align-items-center mb-2">
                            <div class="spinner-border spinner-border-sm text-primary me-2" role="status">
                                <span class="visually-hidden">Compressing...</span>
                            </div>
                            <div class="flex-grow-1">
                                <div class="status-text">
                                    <i class="fa fa-compress me-1"></i>
                                    <strong>{{"UPLOADFILE.COMPRESSING" | translate}}</strong>
                                    <span class="ms-2">
                                        <strong>{{compressionProgress.current}} / {{compressionProgress.total}}</strong>
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Upload in Progress -->
                        <div *ngIf="isLoading && uploadProgress" class="d-flex align-items-center">
                            <div class="spinner-border text-primary me-2" role="status">
                                <span class="visually-hidden">{{"UPLOADFILE.UPLOADING" | translate}}</span>
                            </div>
                            <div class="flex-grow-1">
                                <div class="status-text">
                                    <i class="fa fa-cloud-upload me-1"></i>
                                    <strong>{{"UPLOADFILE.UPLOADING" | translate}}...</strong>
                                    <span class="ms-2">
                                        <strong>{{uploadProgress.current}} / {{uploadProgress.total}}</strong>
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Compression Complete (only when no upload is happening) -->
                        <div *ngIf="!isCompressing && compressionStatus && !isLoading && !resultSaveOndisk" class="status-message">
                            <i class="fa fa-check-circle text-success me-1"></i>
                            <span [innerHTML]="compressionStatus"></span>
                        </div>
                        
                        <!-- Upload Result -->
                        <div *ngIf="resultSaveOndisk" class="status-message">
                            <i class="fa" 
                               [class.fa-check-circle]="resultSaveOndisk.includes('OK') || resultSaveOndisk.includes('successful')"
                               [class.fa-exclamation-circle]="resultSaveOndisk.includes('Error') || resultSaveOndisk.includes('Issue')"
                               [class.text-success]="resultSaveOndisk.includes('OK') || resultSaveOndisk.includes('successful')"
                               [class.text-danger]="resultSaveOndisk.includes('Error') || resultSaveOndisk.includes('Issue')"
                               class="me-1"></i>
                            <span>{{resultSaveOndisk}}</span>
                        </div>
                    </div>
                </div>

                <!-- Action Buttons -->
                <div class="modal-actions">
                    <button type="submit" class="btn btn-primary upload-btn" 
                            [disabled]="!selectedFiles || selectedFiles.length === 0 || isLoading">
                        <i class="fa fa-cloud-upload"></i> {{"UPLOADFILE.BUTTONSUBMIT" | translate}}
                    </button>
                    <button type="button" class="btn btn-outline-secondary clear-btn" 
                            (click)="clearFiles()" [disabled]="isLoading">
                        <i class="fa fa-trash"></i> {{"UPLOADFILE.CLEAR" | translate}}
                    </button>
                </div>
            </form>
        </div>
        <div class="modal-footer pat-modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">
                <i class="fa fa-times"></i> {{"COMMUN.CLOSE" | translate}}
            </button>
        </div>
    </div>
</ng-template>

<!-- Modal window for Share files -->
<ng-template #sharefilecontent let-c="close" let-d="dismiss">
    <div class="modal-content pat-upload-modal">
        <div class="modal-header pat-modal-header">
            <button type="button" class="btn btn-outline-light btn-sm rounded-circle modal-close-btn-left" (click)="c('Close click')" [attr.aria-label]="'COMMUN.CLOSE' | translate">
                <i class="fa fa-times"></i>
            </button>
            <div class="modal-title-container">
                <i class="fa fa-share-alt modal-icon"></i>
                <h6 class="modal-title pat-modal-title">{{"SHAREFILE.TITLE" | translate}}</h6>
            </div>
        </div>
        <div class="modal-body pat-modal-body">
            <form (ngSubmit)="onShareSubmit()" enctype="multipart/form-data" class="upload-form">
                <!-- File Drop Zone -->
                <div class="file-drop-zone" 
                     [class.has-files]="shareFiles && shareFiles.length > 0"
                     [class.dragover]="isDragOver"
                     (dragover)="onShareDragOver($event)"
                     (dragleave)="onShareDragLeave($event)"
                     (drop)="onShareFileDrop($event)">
                    <div class="drop-zone-content">
                        <i class="fa fa-share-alt drop-zone-icon"></i>
                        <h6 class="drop-zone-title">{{"SHAREFILE.DROPZONE_TITLE" | translate}}</h6>
                        <p class="drop-zone-subtitle">{{"SHAREFILE.DROPZONE_SUBTITLE" | translate}}</p>
                        <input type="file" name="shareFiles" multiple (change)="onShareFilesSelected($event)" 
                               class="file-input" id="shareFileInput" />
                        <label for="shareFileInput" class="btn btn-outline-primary btn-lg file-select-btn" (click)="onShareFileSelectClick($event)">
                            <i class="fa fa-folder-open"></i> {{"SHAREFILE.SELECT_FILES" | translate}}
                        </label>
                    </div>
                </div>
                
                <!-- Image Compression Toggle -->
                <div class="compression-toggle-container mb-3">
                    <div class="form-check form-switch compression-switch-wrapper">
                        <input class="form-check-input compression-switch" type="checkbox" id="compressShareImagesToggle" 
                               [(ngModel)]="compressShareImages" name="compressShareImages">
                        <label class="form-check-label compression-label" for="compressShareImagesToggle">
                            <i class="fa fa-image compression-icon"></i> 
                            <span class="compression-text">{{"SHAREFILE.COMPRESS_IMAGES" | translate}}</span>
                        </label>
                    </div>
                    <small class="compression-desc d-block mt-2">
                        {{"SHAREFILE.COMPRESS_IMAGES_DESC" | translate}}
                    </small>
                </div>

                <!-- Selected Files Display -->
                <div *ngIf="shareFiles && shareFiles.length > 0" class="selected-files">
                    <!-- Dropdown for file list -->
                    <div class="dropdown">
                        <button class="btn btn-outline-primary dropdown-toggle w-100 file-selector-btn" 
                                type="button" 
                                id="shareFilesDropdown" 
                                data-bs-toggle="dropdown" 
                                aria-expanded="false">
                            <i class="fa fa-folder-open me-2"></i> 
                            <span class="file-selector-text">{{"SHAREFILE.SELECTED_FILES" | translate}}</span>
                            <span class="badge bg-primary ms-2">{{shareFiles.length}}</span>
                        </button>
                        <ul class="dropdown-menu w-100 file-list-dropdown" aria-labelledby="shareFilesDropdown">
                            <li *ngFor="let file of shareFiles; let i = index" class="file-list-item">
                                <div class="file-item-container">
                                    <div class="file-item-icon" *ngIf="!isImageFile(file)">
                                        <i class="fa fa-file text-secondary"></i>
                                    </div>
                                    <div class="file-item-preview" *ngIf="isImageFile(file) && getShareFilePreviewUrl(file)">
                                        <img [src]="getShareFilePreviewUrl(file)" 
                                             [alt]="file.name"
                                             class="file-preview-image"
                                             (error)="hideImagePreview($event)">
                                    </div>
                                    <div class="file-item-info">
                                        <div class="file-item-name">{{file.name}}</div>
                                        <div class="file-item-size">
                                            <span *ngIf="isShareFileCompressed(file) && getShareFileOriginalSize(file)" 
                                                  class="file-size-original">
                                                {{getShareFileOriginalSize(file)}}
                                            </span>
                                            <span class="file-size-current" 
                                                  [class.text-success]="isShareFileCompressed(file)"
                                                  [class.font-weight-bold]="isShareFileCompressed(file)">
                                                {{getShareFileDisplaySize(file)}}
                                            </span>
                                            <span *ngIf="isShareFileCompressed(file)" 
                                                  class="compression-badge">
                                                <i class="fa fa-compress"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <button type="button" 
                                            class="file-remove-btn" 
                                            (click)="removeShareFile(i); $event.stopPropagation()"
                                            [attr.title]="'UPLOADFILE.REMOVE_FILE' | translate">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Share Status Container -->
                <div *ngIf="isCompressingShare || isSharing || shareStatus" 
                     class="unified-status-container mb-3"
                     [class.status-compressing]="isCompressingShare"
                     [class.status-uploading]="isSharing && !isCompressingShare"
                     [class.status-success]="shareStatus && (shareStatus.includes('OK') || shareStatus.includes('successful') || shareStatus.includes('succès') || shareStatus.includes('réussi') || shareStatus.includes('partagé'))"
                     [class.status-error]="shareStatus && (shareStatus.includes('Error') || shareStatus.includes('Issue') || shareStatus.includes('Erreur') || shareStatus.includes('échoué') || shareStatus.includes('échec') || shareStatus.includes('failed'))">
                    <div class="unified-status-content">
                        <!-- Compression in Progress -->
                        <div *ngIf="isCompressingShare && shareCompressionProgress" class="d-flex align-items-center mb-2">
                            <div class="spinner-border spinner-border-sm text-primary me-2" role="status">
                                <span class="visually-hidden">Compressing...</span>
                            </div>
                            <div class="flex-grow-1">
                                <div class="status-text">
                                    <i class="fa fa-compress me-1"></i>
                                    <strong>{{"SHAREFILE.COMPRESSING" | translate}}</strong>
                                    <span class="ms-2">
                                        <strong>{{shareCompressionProgress.current}} / {{shareCompressionProgress.total}}</strong>
                                    </span>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Sharing in Progress -->
                        <div *ngIf="isSharing && !isCompressingShare" class="d-flex align-items-center">
                            <div class="spinner-border text-primary me-2" role="status">
                                <span class="visually-hidden">{{"SHAREFILE.SHARING" | translate}}</span>
                            </div>
                            <div class="flex-grow-1">
                                <div class="status-text">
                                    <i class="fa fa-share-alt me-1"></i>
                                    <strong>{{"SHAREFILE.SHARING" | translate}}...</strong>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Share Result -->
                        <div *ngIf="shareStatus" class="status-message">
                            <i class="fa" 
                               [class.fa-check-circle]="shareStatus.includes('OK') || shareStatus.includes('successful') || shareStatus.includes('succès') || shareStatus.includes('réussi') || shareStatus.includes('partagé')"
                               [class.fa-exclamation-circle]="shareStatus.includes('Error') || shareStatus.includes('Issue') || shareStatus.includes('Erreur') || shareStatus.includes('échoué') || shareStatus.includes('échec') || shareStatus.includes('failed')"
                               [class.text-success]="shareStatus.includes('OK') || shareStatus.includes('successful') || shareStatus.includes('succès') || shareStatus.includes('réussi') || shareStatus.includes('partagé')"
                               [class.text-danger]="shareStatus.includes('Error') || shareStatus.includes('Issue') || shareStatus.includes('Erreur') || shareStatus.includes('échoué') || shareStatus.includes('échec') || shareStatus.includes('failed')"
                               class="me-1"></i>
                            <span>{{shareStatus}}</span>
                        </div>
                    </div>
                </div>

                <!-- Action Buttons -->
                <div class="modal-actions">
                    <button type="submit" class="btn btn-primary upload-btn" 
                            [disabled]="!shareFiles || shareFiles.length === 0 || isSharing">
                        <i class="fa fa-share-alt"></i> {{"SHAREFILE.BUTTONSUBMIT" | translate}}
                    </button>
                    <button type="button" class="btn btn-outline-secondary clear-btn" 
                            (click)="clearShareFiles()" [disabled]="isSharing">
                        <i class="fa fa-trash"></i> {{"SHAREFILE.CLEAR" | translate}}
                    </button>
                </div>
            </form>
        </div>
        <div class="modal-footer pat-modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">
                <i class="fa fa-times"></i> {{"COMMUN.CLOSE" | translate}}
            </button>
        </div>
    </div>
</ng-template>